body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 0rem;
  height: 120vh;
  background-color: black
}

.container{
  padding-top: 1%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center
}

#select{
  background-color: white;
  color: black;
}

video{
  margin: 5% 0%;
  width: auto;
  border:  2px solid snow;
}